#container{
    width: 600px;
    margin: 0 auto;
}
ul{list-style: none;}
ul li{margin: 15px;}
ul li label{
    width: 100px;
    float: left;
}
.button{margin-top: 10px; text-align: center;}
.button input{
    width: 150px;
    height: 40px;
    margin: 5px;
    font-size: 1em;
}
.button input:hover{
    background-color: rgb(12, 102, 236);
    color: #fff;
    border-color: #fff;
}